* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button {
    margin-top: 40px;
    text-align: center;
}

.button a {
    font-family: "Arial Black";
    background-color: orange;
    padding: 20px 50px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 2;
    top: 0;
    left: 0;
    transform: translateY(-44.5%) scale(0);
    transition: .4s ease-in-out;
}

.popup.active {
    transform: translateY(0%) scale(100%);
    background-color: rgba(0, 0, 0, 0.8);
}

.popup_container {
    display: flex;
    width: 100%;
    height: 100%;
}

.popup_body {
    margin: auto;
    position: relative;
    width: 500px;
    background-color: beige;
    border-radius: 10px;
    text-align: center;
}

.popup_body p {
    font-size: 28px;
    font-family: "Arial Black";
    font-weight: 600;
    color: darkslategrey;
    margin-top: 10px;
    /*margin-bottom: 40px;*/
}

.popup_body input {
    display: block;
    margin: 25px auto 0px auto;
    width: 330px;
    padding: 17px 20px;
    background-color: antiquewhite;
    border-radius: 10px;
    border: none;
    font-family: "Arial Black";
    font-weight: 500;
    font-size: 18px;
    color: cadetblue;
}

.popup_body input:focus {
    outline: none;
}

.popup_body button {
    width: 200px;
    font-family: "Arial Black";
    background-color: orange;
    padding: 20px 50px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}

.popup_close {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 15px;
    font-size: 21px;
}
